[2015-03-30 21:39] chaps2 opened #1 "Support for anonymous users"
Really like what you've done so far. But it looks to me like support for anonymous registrants isn't there yet despite this mention in the readme:

Would love to see support for anonymous registrants in the near future!

[2015-03-31 04:28] dpi commented on #1
Its coming. I'm working on two major features which need a little more time:

**Identities** other than Drupal users (anonymous users, etc)
**Messages**: multiple channels for sending communications (email, SMS, private message etc)

[2015-04-14 21:06] dpi commented on #1
The latest round of updates adds support for anonymous users in the form of a contact. Contacts are provided by the (optional) [Identity](https://github.com/dpi/identity) module.

I'm currently working on making the UI seamless for referencing new contacts on the registration page. Until then, you can manually add new contacts at /identity/contact/add

[2015-04-14 21:06] #1 closed, assigned to nobody

[2015-05-16 08:14] dpi opened #2 "Support Drupal 8 beta10"
HEAD supports beta 9.
The module will install, but some features throw fatals.

[2015-05-18 04:32] dpi commented on #2
Fixed with 1aab693b.

Had to change how rng_register selection handler received the $event from #selection_settings. Filed bug with Drupal: https://www.drupal.org/node/2490420

[2015-05-18 04:32] #2 closed, assigned to dpi

[2015-05-18 04:33] dpi opened #3 "Support Drupal 8 beta11"
Due late May 2015.

[2015-05-21 10:53] dpi opened #4 "Role whitelist for UserRole condition"
Site admin should determine which roles are exposed to the condition.

[2015-05-21 10:56] dpi opened #5 "Create debug module"
And move rules tab from rng.module to debug module.

Debug module should be useful to site administrators. It is not a development module.

[2015-05-21 10:58] dpi opened #6 "Add group to registration UI"
Create a user interface enabling a user to add a group to an existing registration.

[2015-05-21 10:59] dpi opened #7 "Add tests"
Implement tests.

[2015-05-21 11:01] dpi opened #8 "Capacity widget: number or unlimited"
Take advantage of dpi/unlimited_number project.
# Original issue

Implement a widget for selecting a maximum capacity for events, instead of requiring users to use -1 or _empty string_.

[2015-05-21 11:05] dpi opened #9 "Dereference and delete related entities: Registration Type"
_Deleting_ a **RegistrationType**:
-  Removes:
  - [x] Reference: **Event** -> **RegistrationType**
-  Action prevented by:
  - [x] Reference: **Registration** -> **RegistrationType**

[2015-05-21 11:06] dpi opened #10 "[meta] Views integration"
Implement basic views support.

[2015-05-21 11:07] dpi opened #11 "Add premade view for user profiles."
Depends on #10

Add premade view on user profile displaying his registrations.

[2015-05-21 11:08] dpi opened #12 "Add premade view: list registrations on event."
Depends on #10

Add premade view on events to registrations, override built-in.

[2015-05-21 11:11] dpi opened #13 "Add UI: Modify registrants on a registration."
Implement a method to add/edit/delete registrants on existing registrations.

[2015-05-21 11:13] dpi opened #14 "Create identity element"
Move identity selection from RegistrationForm.php into a re-usable element. Support >1 identity references on create registration form.

[2015-05-21 11:14] dpi commented on #13
Depends on #14.

[2015-05-22 15:50] dpi opened #15 "Use Courier ChannelGroup for message templates."
Use courier channel groups to send messages.

[2015-05-22 15:53] dpi commented on #15
Depends on dpi/courier#1

[2015-05-26 17:19] #15 closed, assigned to dpi

[2015-05-26 18:04] dpi opened #16 "VBO: Register for multiple events simultaneously."
Checkbox column in event view listing: select which events to register, POST form to registration form.

[2015-05-26 18:09] dpi opened #17 "Automatically create event node type"
Add capability for user to create a node type (if node.module is enabled) or choose existing bundle (any entity) from the Add event type form (_admin/config/rng/event_types/add_)

[2015-05-27 15:20] #5 closed, assigned to dpi

[2015-05-28 08:46] dpi opened #18 "Dynamic local actions missing"
After adding a new event type, dynamic local actions are not available until menu cache is cleared.

Affected actions: Add message, Add group, Reset access to default

[2015-05-28 08:51] dpi commented on #3
No changes required.

[2015-05-28 08:51] #3 closed, assigned to dpi

[2015-05-28 15:21] dpi commented on #18
Visiting an event entity after the event type has been disassociated also produces fatals.

[2015-05-28 15:41] #17 closed, assigned to nobody

[2015-05-28 17:44] dpi opened #19 "Add courier context and tokens"
Add a context for messages sent to registrants. (registration)

Depends on dpi/courier#4

[2015-05-28 17:45] dpi opened #20 "Add rule scheduler"
Add ability for users to schedule when a message should be sent.

[2015-05-30 02:50] #18 closed, assigned to nobody

[2015-05-30 02:56] dpi commented on #18
Filed bug against Drupal: https://www.drupal.org/node/2497457

[2015-06-01 19:53] dpi opened #21 "Fatals on event pages"
Fatals occur on entity pages that are the same entity type of existing event types, but different bundles.

EventMeta registration type lookup: EventMeta.php:119

[2015-06-02 22:47] #21 closed, assigned to nobody

[2015-06-03 17:17] dpi opened #22 "Access rules page is empty"
Access rules are created per event when the event settings are saved for the first time. Until then, the access rules page appears empty.

[2015-06-04 03:07] dpi commented on #22
43c4e2f fixes this issue.
If there are no access rules defined for an event, EventMeta will automatically use site defaults. This is reflected on the access rules page.

[2015-06-04 03:07] #22 closed, assigned to nobody

[2015-06-05 19:04] dpi opened #23 "Convert EventManager::event_type to camelCase"
Task

[2015-06-05 19:05] dpi opened #24 "Rename rule component class"
Rename rng_rule_component class and interface names from action.

[2015-06-05 19:09] dpi opened #25 "Add methods to EventTypeConfig"
Add getters/setters to EventTypeConfig

[2015-06-07 00:11] #19 closed, assigned to nobody

[2015-06-07 00:18] #23 closed, assigned to nobody

[2015-06-07 02:11] dpi commented on #3
As of 6cdd83ab, RNG is no longer compatible with beta10

[2015-06-08 02:03] #24 closed, assigned to nobody

[2015-06-08 03:40] dpi opened #26 "Convert Event Type settings to ThirdPartySettings"
Remove EventTypeConfig.

[2015-06-08 03:53] dpi commented on #25
Closed in favor of EventTypeConfig deprecation. See #26

[2015-06-08 03:53] #25 closed, assigned to nobody

[2015-06-08 09:11] dpi commented on #9
_Deleting_ a __RegistrationType__:
 -  Removes:
    - Reference: __Event__ -> __RegistrationType__
 -  Action prevented by:
    - Reference: __Registration__ -> __RegistrationType__

[2015-06-08 09:14] dpi opened #27 "Dereference and delete related entities: Registration"
Deleting a **Registration**:
- Removes:
  - [x] **Registrant** entities

[2015-06-08 09:17] dpi opened #28 "Dereference and delete related entities: Group"
Deleting a **Group**:
- Removes:
  - [x] Reference: **Registration** -> **Group**
  - [x] Reference: **Event** -> **Group**

[2015-06-08 09:21] dpi opened #29 "Dereference and delete related entities: Event entity/Event bundle"
Deleting a **Event** or **Event Bundle**:
- Removes
  - [x] **Registration** entities
  - [x] **Group** entities
  - [x] **Rule** entities

Renaming a **Event Bundle**:
- Updates
  - ~~[ ] Reference: **Registration** -> **Event**~~
  - ~~[ ] Reference: **Rule** ->  **Event**~~

Can no longer rename bundles: [Remove ability to update entity bundle machine names](https://www.drupal.org/node/2172843)

[2015-06-08 09:26] dpi opened #30 "Dereference and delete related entities: Identity"
Deleting an **Identity**:
- Removes:
  - [x] Reference: **Registrant** -> **Identity**

It does **not** delete a registrant, or associated registration.

[2015-06-08 09:28] dpi opened #31 "Dereference and delete related entities: Rule"
Deleting a **Rule**:
- Removes:
  - [x] **RuleComponent** entities

[2015-06-09 09:07] #9 closed, assigned to nobody

[2015-06-09 09:42] dpi commented on #27
Was already added in 430cbc82, reworked in 15d4a15a.

[2015-06-09 09:42] #27 closed, assigned to nobody

[2015-06-09 09:59] #31 closed, assigned to nobody

[2015-06-11 01:03] dpi commented on #20
Scheduler:
-  Message dispatch date
-  Open/close registrations

etc

[2015-06-13 01:52] dpi opened #32 "Rename actions to rule component"
Follow up from #24

Rename ActionForm.php
Change form saved message.

[2015-06-13 01:53] dpi opened #33 "Move remaining list builders to List subdirectory"
- [x] RegistrationListBuilder
- [x] RegistrationTypeListBuilder
- [x] EventTypeConfigListBuilder

[2015-06-13 19:10] dpi commented on #20
Fixed in 5aced502

[2015-06-13 19:10] #20 closed, assigned to nobody

[2015-06-13 19:47] #7 closed, assigned to nobody

[2015-06-13 19:47] dpi commented on #7
The ball is rolling...

[2015-06-15 07:17] dpi commented on #26
It seems that a config cannot begin with a wildcard, so `*.*.*.third_party.my_setting` is not possible. Configs require config prefixes hard coded as in `node.type.*.my_setting`

[2015-06-16 05:35] dpi commented on #26
Cannot change event_type configuration from entity_type/bundle pair to config ID because of the need to support entity types without bundles.

[2015-06-16 05:45] #26 closed, assigned to nobody

[2015-06-16 06:01] #33 closed, assigned to nobody

[2015-06-16 06:25] #32 closed, assigned to nobody

[2015-06-22 14:00] dpi opened #34 "Support Drupal 8 beta12"
Due June 29 2015

https://groups.drupal.org/node/470348

[2015-06-23 14:24] dpi commented on #10
Blocked on https://www.drupal.org/node/2321721: Provide a views relationship for each dynamic entity reference field

[2015-06-23 16:22] #30 closed, assigned to nobody

[2015-07-06 05:46] dpi opened #35 "Migration from Signup (Drupal 6)"
Provide migrations from [Signup](https://www.drupal.org/project/signup) for Drupal 6 to RNG.

[2015-07-06 05:46] dpi opened #36 "Migration from Entity Registration (Drupal 7)"

[2015-07-06 05:46] dpi opened #37 "Migration from Node Registration (Drupal 7)"

[2015-07-06 05:47] dpi opened #38 "Meta: Migrations"
Task is ongoing, no estimated due date.
-  #35 [Signup](https://www.drupal.org/project/signup) for Drupal 6
-  #36 [Entity Registration](https://www.drupal.org/project/registration) for Drupal 7
-  #37 [Node Registration](https://www.drupal.org/project/node_registration) for Drupal 7

[2015-07-06 05:58] dpi opened #39 "Use a form mode for event settings"

[2015-07-13 13:19] dpi commented on #34
Tests pass, all features work as expected.

[2015-07-13 16:44] dpi opened #40 "Remove draft concept from rng_courier_message action plugin"
- [x] Remove drafts from CourierTemplateCollection plugin
- [x] Implement UI for enabled/disabled rules
- [x] Ensure courier_message are not sent until rule is enabled.
- [x] Add active flag (param) to EventMeta::getRules()

[2015-07-14 10:54] dpi opened #41 "Move Event Types management menu link"
Move from Configuration to Structure

[2015-07-14 12:50] #40 closed, assigned to nobody

[2015-07-15 08:02] #41 closed, assigned to nobody

[2015-07-15 09:05] #28 closed, assigned to nobody

[2015-07-17 14:11] dpi opened #42 "Support Drupal 8 beta13"
Due July 22

https://groups.drupal.org/node/474163

[2015-07-20 09:28] dpi commented on #34
beta12 fails when using the DER beta2. You must use DER dev until beta2 is released.

See https://www.drupal.org/node/2536254

[2015-07-20 09:35] dpi commented on #34
Error occurs when the user submits the registration form at /$entity/register/$registration_type

[2015-07-20 17:28] dpi commented on #34
DER beta3 has been pushed, and fixes this issue.

[2015-07-20 17:28] #34 closed, assigned to nobody

[2015-07-24 16:38] dpi opened #43 "Add Template access control"
Add access control allowing event managers to edit courier templates.

Currently, only the admin can edit email templates.

[2015-07-24 18:13] dpi commented on #42
Token includes a breaking change in 23e0e8588b0e5d0f8211183a5ef063df192f217b to keep up with Drupal8 dev. Since token has no releases for D8 other than a dev, it is advised not to use Token. At least until Drupal beta13 is released, and RNG is updated.

[2015-07-24 20:52] #43 closed, assigned to dpi

[2015-07-25 16:37] dpi opened #44 "Template Collection missing new templates"
CourierTemplateCollection should add new templates to a template collection if the defining module was added after the collection was created.

[2015-07-25 17:41] dpi opened #45 "Delete TemplateCollection if it belongs to a component"
Delete TemplateCollection when a component referencing CourierTemplateCollection (rng_courier_message) action is deleted.

[2015-07-25 18:22] #45 closed, assigned to dpi

[2015-07-28 20:37] dpi commented on #42
[Moved up](https://groups.drupal.org/node/474163) to July 29 2015

[2015-07-30 02:04] #42 closed, assigned to nobody

[2015-07-30 04:45] dpi commented on #34
Some newer versions of Token module module has issue with this version. See #42

[2015-08-07 10:27] dpi commented on #10
Continues to be blocked as above issue covers attached fields, instead of base fields.

[2015-08-13 11:11] dpi opened #46 "Remove reply-to event field"
Replace reply-to field on event settings with identity autocomplete element.

[2015-08-13 11:14] dpi commented on #46
Depends on #14

[2015-08-19 17:13] dpi commented on #10
A patch has been provided, and Views functions very well. Waiting on patch to be incorporated into Dynamic Entity Reference.

[2015-08-19 17:14] dpi commented on #10
Blocked on https://www.drupal.org/node/2548395: Provide views relationships for DER **base fields**.

[2015-08-20 23:00] dpi commented on #44
Related: dpi/courier#8

[2015-08-30 23:19] #39 closed, assigned to nobody

[2015-08-30 23:47] dpi commented on #44
No longer a beta blocker, this can be resolved by Courier without intervention from RNG.

[2015-08-30 23:47] #44 closed, assigned to nobody

[2015-09-01 17:13] dpi opened #47 "Revision log is visible on node event settings form."
Follow up from #39

For node event types, revision log persists despite removing all components.

This is because revision_log base field does not have `->setDisplayConfigurable('form', TRUE);`

Need to determine whether omitting this declaration is deliberate, and/or why removeComponent still cannot remove revision_log.

removeComponent will remove revision_log, but when the form display entity i

[2015-09-01 17:14] dpi opened #48 "UI: list global groups in administration"

[2015-09-03 13:01] dpi opened #49 "Support Drupal 8 beta15"
Due September 4, 2015

[2015-09-07 23:04] dpi commented on #8
Created [dpi/unlimited_number](https://github.com/dpi/unlimited_number) project for this purpose.

Issue purpose changed to require and take advantage of dpi/unlimited_number.

[2015-09-10 12:34] dpi commented on #8
Fixed in e37414ea

[2015-09-10 12:34] #8 closed, assigned to nobody

[2015-09-11 03:23] dpi commented on #49
RNG is no longer compatible with beta14 and lower

[2015-09-11 03:25] #49 closed, assigned to nobody

[2015-09-11 22:35] dpi opened #50 "Postgres tests failing due to string usage in integer field."
DER issue: [Support non-numeric entity ID's](https://www.drupal.org/node/2555027)

Test: https://www.drupal.org/pift-ci-job/31805

Stack:

[2015-09-12 02:38] dpi commented on #12
- [x]  when creating an event type (and if views is enabled):
  - [x]   Allow the user to choose whether to create an override view.
  -  [x]  Default: yes
- [x]   Duplicate existing hard coded fields in a view
- [x]   Simplify hard coded fields to encourage use of Views.
- [x]   Implement a view generator
  -  [x]  API just needs to supply entity_type~~+bundle~~
- [x]   Ensure view defaults only

[2015-09-12 02:40] dpi commented on #12
No longer a beta blocker when DER issues a release with base field views integration.

[2015-09-12 02:42] dpi opened #51 "Allow default event rule customisation"
allow site admin to customise event access rule defaults.

[2015-09-12 02:42] dpi opened #52 "Change registration type widget to checkboxes"
Change widget for event `registration_type` setting. from 'options_select to 'options_buttons' when it can handle a empty label/value.

[2015-09-12 02:46] dpi opened #53 "Per event identity type override"
Allow each event to override which identity types are usable.

Customises the global setting further, does not override.

[2015-09-12 02:47] dpi opened #54 "Organic Groups integration"
_Organic Groups for Drupal 8 is currently in its infancy._

Add event access rules based on the group the event is associated.

https://www.drupal.org/project/og
https://github.com/amitaibu/og

[2015-09-12 04:02] dpi opened #55 "VBO: Add identity to registration"
When registration entities are used in a view, provide the option to bulk add an identity to selected (via checkboxes) registrations.

[2015-09-12 04:03] dpi commented on #13
Related: #55

[2015-09-14 14:27] dpi commented on #10
[Views Entity Operation Access](https://github.com/dpi/veoa) started. Helping improve access control for RNG views.

[2015-09-15 05:33] dpi commented on #12
- [x] Ensure registration_list only appears on event entities.

[2015-09-17 06:02] #12 closed, assigned to nobody

[2015-09-17 06:05] dpi commented on #12
Created [Views Advanced Routing](https://www.drupal.org/project/views_advanced_routing) project to allow customized routes. This allows RNG to add `_entity_is_event` requirement to view.

[2015-09-17 06:08] dpi commented on #10
Created [Views Advanced Routing](https://www.drupal.org/project/views_advanced_routing) project to improve Views routes.

[2015-09-17 07:49] dpi opened #56 "Local actions and tasks are persisting after event type delete."
Tests failing due to core issue: [Make local tasks and actions hooks provide cacheability metadata, to make the blocks showing them cacheable](https://www.drupal.org/node/2511516)

[2015-09-17 07:53] #56 closed, assigned to nobody

[2015-09-20 17:15] dpi opened #57 "Rules integration"
Rules is in active development. _Rules UI for Drupal 8 is currently in its infancy._

[2015-09-23 16:19] dpi opened #58 "Ajaxify multi-registration type registration form."
Improve registration type selection when events have >1 registration type. Ajax load in registration form.

[2015-09-28 09:26] dpi commented on #49
RNG alpha7: <strong>Warning: Do not use <em>rng_views</em> submodule unless you are willing to apply https://www.drupal.org/node/2548395 to your local copy of Dynamic Entity Reference.</strong>

[2015-10-02 16:55] dpi opened #59 "Support Drupal 8 beta16"
Released: October 2nd 2015

[2015-10-02 17:22] #59 closed, assigned to dpi

[2015-10-02 18:37] dpi commented on #59
RNG is no longer compatible with beta15 and lower due to API changes.

[2015-10-03 13:33] dpi opened #60 "Remove 'action' wording in RuleComponent"
RuleComponents have also been used for conditions. Replace wording with component.

[2015-10-03 16:20] dpi commented on #52
Registration type can be multi valued or zero, so use checkboxes. 😒

[2015-10-03 20:05] #60 closed, assigned to dpi

[2015-10-08 23:08] dpi opened #61 "Support Drupal 8 RC 1"

[2015-10-08 23:37] #61 closed, assigned to nobody

[2015-10-13 14:45] dpi commented on #52
RC Blocker

[2015-10-13 14:47] dpi opened #62 "Tag RC1"
DER pushed views base field integration and tagged a new release.
- [x] Implement a custom field widget for `registration type` and `group` ER. See #52
- [x] Tag and push RNG RC1
- [x] Update documentation
- [x] Update RNG post

[2015-10-13 14:48] dpi commented on #10
[Provide views relationships for DER base fields](https://www.drupal.org/node/2548395) is pushed and tagged.

[2015-10-13 14:48] #10 closed, assigned to dpi

[2015-10-16 13:31] dpi commented on #46
Postponed for now.

[2015-10-16 13:31] #46 closed, assigned to dpi

[2015-10-20 10:14] #62 closed, assigned to dpi

[2015-10-23 05:12] dpi opened #63 "Support Drupal 8 RC2"
There are no known issues introduced between RC1 and RC2

[2015-10-23 05:12] #63 closed, assigned to nobody

[2015-10-31 16:37] dpi opened #64 "Improve condition plugins"
Improve condition plugin description, titles, and context for usage in other areas. (Block admin, etc)

[Design a GUI for managing block visibility](https://www.drupal.org/node/2284687)

[2015-10-31 16:39] dpi opened #65 "Add event context"
for usage with [rng_quick](https://www.drupal.org/project/rng_quick), etc

[2015-10-31 17:18] dpi opened #66 "Revalidate configured roles before executing query in UserRole condition plugin."
Re-validate $this->configuration['roles'] in UserRole::alterQuery

[2015-11-10 00:56] dpi opened #67 "Remove usage of '!' in translatable strings."
This test fails, but does not block usage.

[!placeholder removed from t() and format_string()](https://www.drupal.org/node/2575819)

[2015-11-10 23:19] dpi commented on #6
Group behavior is largely domain specific, and therefore any implementation of group manipulation is unlikely to be suitable for everyone. This function can easily be implemented by third party modules. I commit to providing and maintaining necessary internal API's to facilitate group manipulation.

[2015-11-10 23:19] #6 closed, assigned to dpi

[2015-11-10 23:31] dpi commented on #13
Group behavior is largely domain specific, and therefore any implementation of group manipulation is unlikely to be suitable for everyone. This function can easily be implemented by third party modules. I commit to providing and maintaining necessary internal API's to facilitate group manipulation.

[2015-11-10 23:31] #13 closed, assigned to dpi

[2015-11-10 23:33] dpi commented on #6
Closed based on [Solid Core](https://github.com/dpi/rng/wiki/Solid-Core) policy.

[2015-11-10 23:33] dpi commented on #13
Closed based on [Solid Core](https://github.com/dpi/rng/wiki/Solid-Core) policy.

[2015-11-14 00:19] dpi opened #68 "Support Drupal 8 RC4"
Including RC3.

There are numerous issues introduced between RC2 and RC4.

[2015-11-14 01:26] #67 closed, assigned to nobody

[2015-11-14 01:27] dpi commented on #67
Ref #68

[2015-11-14 09:35] dpi commented on #68
Users _must_ update [Dynamic Entity Reference](https://drupal.org/project/dynamic_entity_reference)  to [8.x-1.0-rc2](https://www.drupal.org/node/2615238) due to changes in core.

[2015-11-15 05:49] dpi commented on #68
Confirmed working and all tests pass in 6df2659b

[2015-11-15 05:49] #68 closed, assigned to nobody

[2015-11-25 19:12] dpi opened #69 "Make identities entities available to registration templates"

[2015-11-27 04:08] dpi opened #70 "Fix rng_views configuration validation"
Some configuration are missing schema

[2015-12-07 13:14] weizrd commented on #1
Hello, I was wondering which is the status on this.
It looks like a better alternative to Entity Registration, but anonymous still can't register themselves (so is not usable for me). Also, not all my users have emails, so maybe there would be a way to just skip that step alltogether and leave available an open workable visible form? (yeah, i know that this leaves an open door to duplicates, but I

[2015-12-07 16:08] dpi commented on #1
Hi @weizrd, take a look at [Identity](https://github.com/dpi/identity), theres some temporary documentation at https://github.com/dpi/identity/issues/1 . Since no verification is done on contacts in that module, you can use bogus emails if required.

The key to registrants is they must be 'contactable' in some way. You can even create a custom Drupal entity type, and enable it as a new registrant

[2016-01-28 09:47] SOLUTIONS-AT opened #71 "Possible problem with RNG and CONTENT ACCESS"
I have an issue with a D8.0.2 site which has me baffled.

The site has RNG installed. I started having problems when we tried using the
module CONTENT ACCESS. The error looks like it might be related to RNG in
conjunction with CONTENT ACCESS. Please let me know your thoughts.

Here is the error which I get, when an anonymous User pulls up a basic page
for which the anonymous User has access permis

[2016-01-28 21:25] dpi commented on #71
Spent 30 mins on this, looks like a core bug. Not due to content_access directly, but because content_access implements node grants. Ill post a quick workaround, which is to patch core, hopefully in the next 24 hours. Ill post a core issue so you don't have to continue to patch core manually.

[2016-01-29 07:02] SOLUTIONS-AT commented on #71
That would be great!

[2016-01-29 18:38] dpi commented on #71
Follow the core issue at [Unexpected access operation throws exception when node grant system is active](https://www.drupal.org/node/2659078).

A patch will be uploaded shortly.

[2016-01-29 18:38] #71 closed, assigned to dpi

[2016-02-23 17:38] dpi opened #72 "Allow admin to prevent rule customisation"
Prevent events from overriding rules as found in default rules
- [x] Allow admin to prevent rule customisation
- [x] Add option on event defaults page to delete all existing customizations

Ref #51

[2016-02-26 05:47] #51 closed, assigned to dpi

[2016-02-26 15:22] #4 closed, assigned to dpi

[2016-02-26 15:22] #66 closed, assigned to nobody

[2016-02-27 14:20] #72 closed, assigned to nobody

[2016-02-27 14:34] dpi opened #73 "Convert event access page to form"
Modify event access tab to match event type rule defaults page.
- [x] Convert event access to form
- [x] Delete event controller
- [x] Transform into form only if event has customized defaults.
- [x] Tests

[2016-02-27 14:37] dpi opened #74 "Rework rules system"
Convert RNG rule system to a system based on Rules when it has matured.
- Convert actions and conditions to rules plugins.

For v2.0.0

[2016-02-27 14:53] dpi commented on #50
Can sort-of workaround this by checking if deleted entities are not bundle entities. This still means that entities with non numeric ID's are still unsupported.

[2016-03-16 04:28] #70 closed, assigned to nobody

[2016-03-17 06:58] dpi opened #75 "Add event cache context"

[2016-03-17 07:00] #65 closed, assigned to nobody

[2016-03-17 12:53] #75 closed, assigned to nobody

[2016-03-19 03:59] dpi opened #76 "RNG Ecosystem: Planning for supporting features"
I've had private correspondence with individuals interested in additional functionality for RNG, so I am posting this issue to gather feedback in a public location. I have the best intentions of addressing some of these feature requests over time. However I would like to request input on the design of these features from the community, in the aim of building a product that is generalised and usefu

[2016-03-19 04:00] dpi opened #77 "Wait list module for RNG events"
From #76

[2016-03-24 14:04] dpi opened #78 "Add views "register" link fields"
Both register route (rng.event.$entity_type.register.type_list) and each registration type (rng.event.$entity_type.register)

[2016-03-28 16:02] kclarkson opened #79 "Default Registration Type Settings - Helpful for sites with 100's of Events"
For our website we import up to 100 events every six months so being able to provide "default" settings for each registration type is crucial.

Here are some default settings we would like to implement.

-Default relative reminder message based on end date field.
-Default number of attendees to cap the registration at
-Default Accepting Applications Active

@dpi thank you so much for taking this p

[2016-03-28 16:25] dpi commented on #79
Hi @kclarkson thanks for your kind words :)

I dont think I will implement this in the main module ([rationale](https://github.com/dpi/rng/wiki/Solid-Core)). But I don't think it would be too much work to create a separate module to fill this need.

These two are already possible. You may notice that the form fields located on the Event -> Setting tab are regular Drupal fields attached to your ent

[2016-03-28 16:59] dpi opened #80 "Support Drupal 8.1"
RNG seems to be mostly working with Drupal 8.1
- ~~The message edit widget provided by Courier is not working. See: dpi/courier#21~~
- ~~Date conditions #87~~

[2016-03-28 17:02] dpi commented on #79
I'm sure you already have seen it, but in case you overlooked it, you can set the date manually for messages on events. But there is not yet a facility to set a default reminder message for newly created events.

[2016-03-28 17:39] kclarkson commented on #79
Is it your plan to have this module fully integrated with rules?

So rules should be able to trigger an email based on the registration type!

On Mon, Mar 28, 2016 at 1:02 PM Daniel Phin notifications@github.com
wrote:

[2016-03-28 17:54] dpi commented on #79
The plan is to integrate around the time Rules receives a UI ~beta ish. You can follow #57 for updates.

[2016-03-28 18:08] kclarkson commented on #79
I am closing this based on the fact that two of the three already exists.   Rules integration should be able to accomplish sending email on the registration type's date field.

[2016-03-28 18:08] #79 closed, assigned to nobody

[2016-03-28 18:10] dpi opened #81 "Add ability to create default messages for new events."
From #79 / LP

[2016-03-28 18:13] dpi commented on #79
Thanks.

Ive created a feature request for default messages #81. To re-iterate, I dont think the **date field** association will happen in the core module, similar to why [rng_date_scheduler](https://www.drupal.org/project/rng_date_scheduler) exists.

[2016-03-28 18:14] kclarkson opened #82 "Registration Type States - Attended, Canceled, Did not Show"
It would be great to provide a registration "state".  This field should only be visible by event organizers.  This would allow event organizers to mark/flag each registration with attendance data.

This could theoretically be added with additional modules such as Flag or Field Permissions.

Unfortunately this would rely on either the flag module or the Field permissions modules where progress for

[2016-03-28 18:20] dpi commented on #82
Hmm, I imagine this could be solved by adding an **attendance** field as a Drupal string list field, in combination with a [field_permissions](https://www.drupal.org/project/field_permissions) -alike. Unless there is something I am missing?

[2016-03-28 19:29] kclarkson commented on #82
@dpi based on the comments from the Field Permission's module page it doesn't look like there are any real plans for an upgrade of the module.

[2016-03-28 19:35] dpi commented on #82
hence the "-alike". There is progress however... [Port field permissions to drupal 8](https://www.drupal.org/node/2196303). Even if this is not a supported fork, I imagine something has/will fill this functional void since it has 70k installs.

[2016-03-29 18:21] dpi commented on #82
Normally state or fields provided/used by RNG are used in some way to calculate interactions between users and an event (registerability). However 'attendance' is not used for this kind of thing, therefore the original request is considered a WONTFIX.

[2016-03-29 18:21] #82 closed, assigned to nobody

[2016-04-06 14:59] jonathanjfshaw opened #83 "CRM Core integration"
The porting of CRM Core to D8 is being pushed forward again in the last week by MD Systems. As this will likely be the first CRM to mature in D8, and these guys are the biggest Drupal contributors after Acquia, and its intrinsically a modular and flexible system, it seems likely that CRM Core may well be the most popular system in Drupal's future for managing people.

Managing people is something

[2016-04-06 15:02] jonathanjfshaw opened #84 "Drupal Commerce integration"
I'm sure it's been thought about, but there wasn't an issue yet.

Integration with Drupal Commerce when it matures for D8 would seem vital.

[2016-04-06 23:08] dpi commented on #83
I dont have any feelings either way since I have not used CRM Core. I am certainly not against integrating with them. I am happy to consider any API changes or additions. RNG is quite a flexible module, and may not need more than a shim module for them.

[2016-04-06 23:11] dpi commented on #84
Commerce is still in alpha and I personally wont be looking at requirements for RNG until at least beta. Depending on how domain-centric the integration is, it may be suitable to implement the integration in a middleman module dependent on both RNG and Commerce.

I remain open to plans or proposals.

[2016-04-07 08:16] mirodietiker commented on #83
I see a bright future coming. ;-)

Porting the events module is far off a minimum viable product for CRM Core Drupal 8. Priority is definitively making it a pluggable framework and not pushing custom CRM specific features. That perfectly opens the opportunity to benefit from other projects, including rng for event management and drop complexity in our ecosystem. (My personal opinion and not discus

[2016-04-07 08:34] dpi commented on #83
Thanks for jumping in @mirodietiker. Let me know if you need anything from me or want to know more info. Im always on IRC.
I understand you may be using [Relation](https://www.drupal.org/project/relation) for CRM Core. I initially ported Relation to D8 for the purposes of this module, and decided to go with Dynamic Entity Reference. You may be able to get some inspiration from RNG for your [data m

[2016-04-07 12:03] jonathanjfshaw commented on #83
I raised an issue for Redhen also to explore their collaboration with CRM Core and RNG along the same lines: https://github.com/thinkshout/redhen/issues/63.

[2016-04-08 13:05] ggd22 opened #85 "Call to a member function getDefault() on null"
Getting the error below in Drupal Console running drupal container:debug If I wrap the conditionals on line 85 and 123 in an if($route !== null) error goes away, unsure if this is the correct solution though or why $route is being returned as null.

Fatal error: Call to a member function getDefault() on null in /var/www/sites/d8/drupal/modules/contrib/rng/src/ContextProvider/RngEventRouteContext.p

[2016-04-09 01:25] #85 closed, assigned to nobody

[2016-04-09 01:34] dpi commented on #85
Thanks for the report. Good to have such detail in these reports.

Fortunately this bug only seems to affect CLI requests.

Committed a bugfix in 3effb26

[2016-04-11 13:09] jonathanjfshaw commented on #83
I've looked at RNG more closely and I understand more what @dpi said, that integrating RNG and CRM_Core should be easy.

Registrants in RNG can be of any entity type that has been declared to RNG as suitable; the user type if supported out of the box, and the contact type added by the optional identity module. There is a configuration UI in RNG to select which of the declared entity types to use a

[2016-04-11 13:38] dpi commented on #83
You are correct. Its a simple Courier glue plugin maps the identity type to a channel (email, sms etc). Usually 1-3 lines + Drupal plugin boilerplate and annotation.

To allow the new identity type to be referencable it needs to implement a entity reference selection plugin within the "rng_register" group. See `\Drupal\rng\Plugin\EntityReferenceSelection\UserRNGSelection` for an example. The workf

[2016-04-12 09:18] mirodietiker commented on #83
Determining entity types that can be used as registrants for events in RNG by using IdentityChannel from courier sounds odd to me... We are also looking into courier, but CRM Core also needs the concept of generalised identity and depending for something like this on courier feels wrong.

Matching in context of guests is a huge challenge. Guests can be created as contacts, but merging with any exi

[2016-04-12 09:34] dpi commented on #83
I could have created some kind of registry which allows you to flag an entity type as a identity for RNG, but it makes sense for RNG since usually an identity has a form of contact. Its making use of pre-exing systems.

I'm open to hearing alternatives, but as the solo developer on the project I couldnt concoct any other use cases.

Theorizing that the CRM Core contacts are made into RNG registran

[2016-04-12 09:37] dpi commented on #83
I have some identity consolidation notes for Courier that I want to implement. For example **upgrading** a contact (ldap, crm, etc) into a different identity such as a full Drupal user. This would be done by notifying code relying on Courier identities to change their references. etc.

Not sure if that helps you.

[2016-04-12 10:18] jonathanjfshaw commented on #83
If I understand right, using courier as the identity provider requires that guests always have a contact method? I don't think this is ideal.

Firstly, it complicates the process of booking a group of people. If you're booking a group of friends for a concert, it's a hassle to look up and type in all their emails. There are plenty of possible use cases in which the event organisers only want to kn

[2016-04-12 10:21] jonathanjfshaw commented on #83
@mirodietiker, the CiviCRM manual has a [clear but thorough section on this subject](http://docs.civicrm.org/user/en/4.6/common-workflows/deduping-and-merging/), discussing the features they offer for this. It may be useful research when you get into this area.

[2016-04-12 10:21] dpi commented on #83
@jonathanjfshaw in this instance, the entity type doesnt actually need the value of the email. but should at least have a field for it. If there is no value then notifications dont get sent.

[2016-04-15 08:37] edurenye opened #86 "Deleting a event message leads to an Exception"
Deleting an event message trows the following exception:

The website encountered an unexpected error. Please try again later.

[2016-04-15 08:39] dpi commented on #86
This is weird. I don't think content_translation should assume the entity has a [canonical] route.

[2016-04-16 15:20] dpi opened #87 "Error saving date condition"
When saving a date _rng/component/%id/edit_ on Drupal 8.1

Error does not appear on 8.0

[2016-04-16 15:23] dpi commented on #86
Confirmed issue on 8.0 and 8.1 when installing content_translation

[2016-04-18 11:40] kclarkson commented on #57
@dpi I am sure you are following the Rules issue queue but just in case.  Here is an article from 2 weeks ago from the D8 rules team that announced their alpha release. http://d8rules.org/news/d8rules-reaches-milestone-2

[2016-04-19 07:25] edurenye commented on #86
ok, this is a core issue: https://www.drupal.org/node/2479377 and is more related to courier than RNG

[2016-04-20 07:11] dpi commented on #57
I'm watching Rules progress. I don't think I will personally look into integration until the Rules API stabilizes or Rules beta is on the horizon.
Rules' 8.x-1.x HEAD is checked out on my dev sites so I'm in touch at arms length

[2016-04-20 16:29] dpi commented on #86
Thanks for looking into this :)

[2016-04-20 16:29] #86 closed, assigned to nobody

[2016-04-21 11:21] #87 closed, assigned to nobody

[2016-04-21 11:57] #80 closed, assigned to nobody

[2016-04-21 11:59] dpi opened #88 "Groups integration"
[Group](https://drupal.org/project/group) is maturing well. I will investigate integration in the near future.

  * Allow referring to Groups as a registrant. (Groups can opt in communications to various roles within the group).

[2016-04-26 16:24] eigentor opened #89 "Support registration for anonymous users"
Sorry for the duplicate issue, but the other issue on that topic has been locked
https://github.com/dpi/rng/issues/1

At the current time it appears it is not possible to allow anonymous users to register to an event with rng. The solution with https://github.com/dpi/identity is normally not whan you want anyway. As I understand it, only a logged in user can register another anonymous user by ente

[2016-04-26 16:27] dpi commented on #89
You are correct, users who are not logged in cannot register for events out of the box.

[2016-05-06 19:37] dpi commented on #89
I will investigate a solution since I have been asked a few times.

[2016-07-07 14:58] dpi opened #90 "Provide registrant entity CRUD routes"
This feature is not necessarily approved, it is simply a holding issue referenced by Stack Overflow question: [How to access fields for the Registrant settings (RNG)](http://drupal.stackexchange.com/questions/206221/how-to-access-fields-for-the-registrant-settings-rng).

Since this kind of feature is not likely required for all sites, it will likely confuse many site builders.

If anyone has ideas

[2016-07-07 15:33] dpi commented on #90
Access rights to CRUD the registrant entity will differ for sites. Workflow may dictate only event managers, or registrant, or another arbitrary combination not bound to event or global roles, can CRUD the registrant entity..

[2016-07-12 08:01] andreasradloff commented on #81
Here's what I'm using, not sure if it's helpful. Create a default message on new registrations for nodes of type 'event'.

[code]

[2016-07-12 08:29] andreasradloff opened #91 "UI: Change the tab title on event entites from "Event" to "Registration settings""
The tab title for editing the RNG settings on an event node is confusing. Imagine you have never used Drupal before and you intend to change the event image for your event node. Do you click on "Event" or "Edit"? Or if you want to edit the registration settings, do you click on edit?

Since the "Event" tab is actually all about registrations it would be better, in my opinion, to label it something

[2016-07-22 06:11] auVeypor opened #92 "Issue messaging all registrants on a date"
Hey, my team and I have been having an issue getting RNG's "message all registrants on a date" feature working.

The other two options, (users are emailed upon registering and upon updating said registration) work perfectly.

Upon activating a timed message to all registrants, RNG adds the message to the 'rng_rule_scheduler' table just fine, however, RNG fails to ever trigger the rule. The 'attemp

[2016-07-22 20:43] dpi commented on #92
Hi @auVeypor, can you check the following:
- The message on your event is enabled. It should say "Send on a date (active)".
- Run cron a couple of times after the date passes. `drush cron`, or there is a link at _/admin/reports/status_.
- Check your site log for errors at _/admin/reports/dblog_

**If you are seeing an error like:**

Then try updating [courier](https://www.drupal.org/project/courie

[2016-07-22 21:03] dpi commented on #91
Ive been thinking about this a little bit. You're right that 'Event' may not be the most suitable label for the tab. I'm reluctant use the term 'registration' because it covers more than just registration entities, this could lead to minor confusion. The same with 'settings', because there is more than just settings packed under the 'Event' tab. It can include information about the event (see rng_

[2016-07-23 19:16] auVeypor commented on #92
Hi @dpi,

We were indeed getting that error.

I have updated courier, and now receive the following error upon clicking the "Add Message" button in an RNG event:

I'll try doing a fresh install of Drupal and RNG to test it further tomorrow.

[2016-07-23 19:40] dpi commented on #92
Make sure you **clear your cache** and run the **Drupal upgrade** script when updating module code.

Courier's CourierManager injection signature changed since the last stable version. There is also a new entity which needs installing from the upgrade script.

[2016-07-23 20:02] dpi commented on #92
Ive just tagged Courier 8.x-1.0-alpha9. You may want to update to it instead of remaining on the -dev track.

[2016-07-26 05:49] auVeypor commented on #92
Hey @dpi,

That seems to have fixed the problem, thanks heaps.

One thing we have noticed is the cron requires two runs to dispatch email sent on a date. On the first run the message moves from the scheduler table into the courier queue, and on the second run the queue is cleared and messages dispatched.

Is this intended functionality? Is it possible to configure courier to dispatch the emails up

[2016-07-26 06:18] dpi commented on #92
Ive got a feeling that it can, but it may be random/site dependent. It has something to do with the hook invocation order: https://www.drupal.org/node/110238 . In this case you would want RNG' `hook_cron()` to run before Couriers.

I've created #93 to address this issue. In the interim, you could make your cron script trigger every minute/30 seconds?

[2016-07-26 06:19] dpi opened #93 "Optimise message dispatch to reduce number of cron invocations"
Ensure RNG message rules cron code runs before Courier so messages are dispatched in the same cron request.

From #92

[2016-07-26 06:20] #92 closed, assigned to nobody

[2016-07-26 06:21] auVeypor commented on #92
Thanks a ton for all your help, really appreciate it.

[2016-07-27 04:49] auVeypor opened #94 "All messages for an event are queued if just one message reaches its scheduled date"
Hey @dpi,

We have encountered what we believe to be unintended behaviour with the messaging system.

Upon adding two or more "message all applicants on a date" messages to the same event, upon the date trigger for one of these messages, **ALL** active messages are dispatched immediately, despite the other active messages not being due to be sent.

This even triggers upon a disabled message meetin

[2016-07-27 04:50] dpi commented on #94
I'll look into it.

[2016-07-27 04:51] dpi commented on #94
site wide? or for the single event?

[2016-07-27 04:54] auVeypor commented on #94
We didn't test multiple events, give me 5 minutes and ill test it.

[2016-07-27 05:03] auVeypor commented on #94
It's just for the single event. All active mail for an event is dispatched upon a single trigger being met.

[2016-08-01 03:55] auVeypor commented on #94
Any ideas @dpi?

I'd be happy to have a stab at it myself and submit a pull request if you point me in the right direction.

[2016-08-01 04:04] dpi commented on #94
Hadnt had time to look into it. I usually update the issue if I'm active.

Likely has something to do with the cron hook.

[2016-08-10 09:11] ghost opened #95 "wait list"
Since #76 was blocked for me to comment, I created new issue to explain about wait list:

I like how meetup does, the waiting list is based on user registration time-stamp for the event. Eg: When the max. number of participants have reached and somebody asks to join the event, then s/he'd be automatically registered for the event when someone leaves.

To Illustrate more: -
- 20 max num of particip

[2016-08-10 09:24] ghost opened #96 "Thank you"
Its damn great that you created this module and related ecosystem around the module. To do this all by yourself is something remarkable achievement. Well, I'd like to thank you very much for it, I'm still having hard time to grasp some design concepts and methods you used but I very much appreciate a hard work you have done.

Once again thank you for such a great work where the community can benef

[2016-08-12 09:45] dpi commented on #96
Thanks for your kind words :)

I can only hope educational material become available organically as module usage grows.

Making requests to sites like Drupalize.me or OSTraining could also accelerate the creation of these materials.

[2016-08-12 09:45] #96 closed, assigned to nobody

[2016-08-18 15:57] design-ev opened #97 "UI broken using Bootstrap framework"
I built out an events registration site using a theme built around the Bootstrap framework. The UI in the Messages area of this module is broken when using this CSS framework. The tokens panel does not appear, and you're unable to save new email messages.

When I switched over to the standard Bartik theme, I was able to see the available tokens and save messages just fine.

I'm not experienced eno

[2016-08-19 09:04] dpi commented on #97
Thanks for the report.

The issue is caused by [Courier](https://github.com/dpi/courier). Fix will be committed in short time.

[2016-08-19 09:09] dpi commented on #97
Re-opening, let me know if you continue to have issues. Close if it works for you

[2016-08-22 19:23] #97 closed, assigned to nobody

[2016-08-24 07:09] dpi commented on #47
Arguably not a defect...

[2016-08-24 07:09] #47 closed, assigned to dpi

[2016-08-24 11:14] dpi commented on #94
I can see there is an issue with enabled/disabled messages.

But I cannot reproduce **all** messages being sent if one reaches a date.

**Steps**
1. Create a message with a message to send one week ago. Activate the message.
2. Create a message with a message to send one week in the future. Activate the message.
3. Run cron, a few times just in case.

**Result:** only one message is sent.

[2016-08-24 16:26] dpi commented on #94
I think I have found the issue, and it was quite an annoying one to track down. Can you try out the dev release and see if it fixes things for you.

One thing you may notice is that a message will be disabled as soon as the message has been queued by cron.

[2016-08-25 02:23] auVeypor commented on #94
That seems to have fixed it, thanks!

[2016-08-25 02:23] #94 closed, assigned to dpi

[2016-08-25 06:42] dpi commented on #94
Fantastic. This will be bundled with rng-8.0-1.2

[2016-08-27 10:25] dpi commented on #90
The current plan is to add CRUD routes for registrant entity. But defer access control to third parties. This means out of the box only the root user can access these routes.

[2016-08-27 12:47] dpi commented on #89
If anyone is following this issue, or finds this comment in the next few weeks, I'm potentially looking for testers of an anonymous user feature for RNG. Comment here or contact me directly.

[2016-08-28 03:10] dpi opened #99 "Anonymous User Initiative"
Discussions at #89: Support registration for anonymous users

**Collection of issues related to implementation of anonymous users.**
- ~~#90 **registrant entity CRUD routes:** Need a way to add identity metadata to the registration since the anonymous entity is recycled.~~
-  ~~#100 **Show entity label instead of autocomplete if only one entity is registerable**. The anonymous entity type should o

[2016-08-28 03:12] dpi opened #100 "Show entity label instead of autocomplete if only one entity is registerable"
If there is only one registerable entity remaining for an identity entity type, then display this entity as entity label next to the radio, rather than a autocomplete.

[2016-08-28 03:15] dpi commented on #99
Probably 1.3

[2016-08-28 03:21] dpi opened #101 "API Breaks for 2.0"
List of tasks to complete which would break API compatibility.
- Move entity interfaces to `src/Entity` subdirectory.
- Change `registration_group` entity type strings and identifiers from 'group' to 'tag'.

[2016-08-28 10:42] dpi commented on #93
I'm beginning to think that the current design is fine. The fact that messages are not dispatch in the same request is by design: The messages are processed by the queue worker, so that if there is not enough time in the cron request, it can continue safely in the next request. Even if I were to force processing of the messages in the same request they were added, I cannot guarantee _all_ the mess

[2016-08-28 10:42] #93 closed, assigned to nobody

[2016-09-03 09:23] dpi opened #102 "Provide ability to edit the registrant inline with registration"
Part of #99

Add new configuration for event types:

[code]

[2016-09-03 09:27] dpi commented on #78
_Added per registration type to OP_

[2016-09-03 16:29] #78 closed, assigned to nobody

[2016-09-04 13:36] #90 closed, assigned to nobody

[2016-09-05 08:26] dpi opened #106 "Support Drupal 8.2"
No known issues at this time.

[2016-09-05 10:15] #73 closed, assigned to nobody

[2016-09-05 14:43] dpi commented on #102
The registrant form will not be available until the identity entity type is selected. The registrant form will load in via AJAX when a selection is made.

[2016-09-15 13:44] rdworianyn commented on #89
I would be happy to test this feature for you.

[2016-09-15 18:46] dpi opened #107 "Event settings tabs as admin routes"
Change all %event/event/\* routes to admin routes, so they get admin theme.

[2016-09-21 15:39] kclarkson commented on #81
@dpi do you think the code above helps in achieving the default message for new events feature?

[2016-09-22 05:13] dpi commented on #81
The above is a good stopgap measure, however I would make use of the default rules system introduced by #51

UI has to be built, the eventmeta class would need to be retrofitted to be aware of these defaults messages. Some other things I'm sure, but I'm not in the correct headspace.

At this point I dont have time scheduled for RNG for the near future.

[2016-09-29 06:39] auVeypor commented on #89
My team would love to use this functionality, and we'd be happy to help you test and develop it.

[2016-10-05 09:31] dpi commented on #14
This may be a Courier feature, a project dependent on Courier, or a RNG plugin extending from a project dependent on Courier.

This element may make use of [Inline Entity Form](https://drupal.org/project/inline_entity_form).

[2016-10-09 11:14] mtomaizy commented on #89
I'm interested about this feature, I would like to test it and hope to be done fast

[2016-10-18 16:55] dpi commented on #14
![default](https://cloud.githubusercontent.com/assets/21850/19487776/c5df07d0-9596-11e6-9a3b-b79bd6958089.jpg)

![single current user](https://cloud.githubusercontent.com/assets/21850/19487747/a940cbb8-9596-11e6-8787-714d97e95523.jpg)

![single drupal account](https://cloud.githubusercontent.com/assets/21850/19487745/a93449ec-9596-11e6-97f8-a527437d4c0d.jpg)

![single custom entity](https://cloud.

[2016-10-20 05:09] ipwa commented on #89
Interested

[2016-10-20 18:10] dpi opened #108 "Allow creation of registrant bundles"
Registrant entities are currently bundle-less.
- Adding bundles will allow for a registrant form (bundle) to vary, such as per identity type. (#111)

[2016-10-20 18:11] dpi commented on #100
Cancelling this for now since #14 has a decent selector.

[2016-10-20 18:11] #100 closed, assigned to nobody

[2016-10-20 18:34] dpi commented on #14
Work is progressing

![element](https://cloud.githubusercontent.com/assets/21850/19572988/ee8552c4-9736-11e6-89e6-d2cc4c3b30f4.jpg)

[2016-10-20 18:39] dpi commented on #89
Work is progressing on a widget (element) which will allow for inline creation and referencing of registrants. Please view and post criticism of the element at #14.

[2016-10-22 11:42] #106 closed, assigned to nobody

[2016-10-22 23:39] javieraldape commented on #99
Hi, i'm interested in this feature. Do you have an expected release date?

[2016-10-23 13:03] dpi commented on #99
Re #89

@javieraldape I'm currently doing it in my spare time, hopefully this year. If [sponsored](https://dpi.id.au/drupal-sponsor/) then within a week.

[2016-10-24 14:20] dpi commented on #77
I'd love to address this feature, but cannot justify the development time for the foreseeable future.

Please register your interest in this issue by subscribing and/or +1 the original comment.

If your project requires such a feature: you should be able to develop it yourself, or you may be interested in [sponsoring](https://dpi.id.au/drupal-sponsor/) development time.

[2016-10-24 19:58] dpi commented on #108
Related: [Handle initial values when creating a new field storage definition](https://www.drupal.org/node/2346019)

[2016-10-26 10:06] dpi opened #110 "Release rng-8.x-1.3"
RNG 8.x-1.3 will raise the minimum core version to 8.1:
-  #108 will make use of `DefaultHtmlRouteProvider`, which was introduced in Drupal 8.1. ([Improvements in creating entities in 8.1](https://www.drupal.org/node/2709511)).
-  Registrant entity makes use of content entity parent baseFieldDefinitions to generate entity key fields.

[2016-10-27 08:30] dpi opened #111 "Add further registrant type variance/granularity based on identity entity type/bundle"
Adding registrant bundles from #108 will allows for a registrant form to vary per identity type.

[2016-10-30 23:26] dpi commented on #53
This will be added to event type configuration in the form of a "allow create identitytype" and "allow references to existing identitytype" setting for each identity type.

[2016-10-31 11:00] dpi opened #112 "Change 'create registration list' checkbox to a button"
From a checkbox to a button. It's function is confusing as a checkbox.

[2016-11-02 14:35] chrisrikli commented on #84
Has there been any further movement on this issue given that Commerce is now in beta?

[2016-11-08 01:19] dpi commented on #84
I dont have plans to address this. Patches, or preferably third party modules, welcome.

[2016-11-08 01:22] dpi opened #113 "Add RNG field mapping interface"
Add field interface to event types allowing to re-add deleted or missing RNG fields to event entity types.

[2016-11-08 01:26] dpi opened #114 "Add minimum and maximum registrants fields to event types"
Ref #113

[2016-11-08 14:10] dpi commented on #89
Hi everyone, thankyou for your patience. If you're interesting in testing anonymous users and registrants please read the following carefully.

---
1. **DO NOT INSTALL** ON YOUR PRODUCTION SITE!
2. **MAKE A BACKUP** OF YOUR DATABASE BEFORE USING!
3. THIS CODE IS UNSUPPORTED. THE UPGRADE PATH IS QUITE COMPLEX IN THIS UPDATE. IF YOU CHOOSE TO TEST THIS CODE **YOUR SITE MAY BREAK**, AND **WILL NOT RE

[2016-11-08 14:38] dpi opened #116 "[Registrant Element] Automatically open create subform"
If there is no 'existing' permission, but there is 'creation' permission, then automatically 'open' the create subform instead of requiring button press.

(only do this if there are no registrants yet / or using single, otherwise it kills entire form validation )

[2016-11-08 14:39] dpi opened #117 "[Registrant Element] Soft delete registrants"
Do not delete a registrant completely until after the complete form is saved. Until then, allow the user to restore a registrant if marked as deleted.

[2016-11-08 14:40] dpi opened #118 "[Registrant Element] Hide add another person subform for multi arity"
For multiple arity: initially hide the 'add another person' subform behind a button which loads in the subform, or loads it as a modal.

[2016-11-08 14:41] dpi opened #119 "[Registrant Element] Add 'Done' button to multi arity form"
When the element is open and has multiple arity, add a 'Done' button which minimizes the element into the closed overview state.

[2016-11-08 14:43] dpi opened #120 "[Registrant Element] Allow editing registrant form/entity after creation"

[2016-11-08 14:47] dpi opened #121 "[Registrant Element] Pre-select person type"
Pre select the person type radio if there is only one available.

[2016-11-09 02:00] dpi commented on #99
See #89

[2016-11-09 02:00] #99 closed, assigned to nobody

[2016-11-09 03:04] dpi opened #122 "Associate registration form with the 'Register' local task of the event"
The registration type redirect currently takes the user away from the event.

[2016-11-09 03:08] dpi commented on #122
**Before**

![rnotabs](https://cloud.githubusercontent.com/assets/21850/20126019/c23a572e-a66c-11e6-989f-90577caeb005.jpg)

**After**

![rtabs](https://cloud.githubusercontent.com/assets/21850/20126018/c1e70dc6-a66c-11e6-86df-3e2a7f437149.jpg)

[2016-11-10 13:47] dpi opened #123 "Allow option to create multiple registrations for each registrant"
When a new registration is being created, and if multiple registrants are assigned, allow the user to:

  * Create one registration, with multiple registrants associated. (current behaviour, v1.3)
  * Create multiple registrations, one for each registrant associated.

There should be an event type setting to expose these options or default behaviour

[2016-11-10 14:08] dpi commented on #89
Video: what the new registration/registrant form looks like: https://danielph.in/i/dpi.id.au/rng-registrants-update/multiple_registrants.mp4

[2016-11-15 09:00] #53 closed, assigned to dpi

[2016-11-15 09:00] #107 closed, assigned to nobody

[2016-11-15 09:00] #108 closed, assigned to nobody

[2016-11-15 09:00] #113 closed, assigned to nobody

[2016-11-15 09:00] #114 closed, assigned to nobody

[2016-11-15 09:00] #122 closed, assigned to nobody

[2016-11-15 16:27] dpi commented on #110
Tagged a [8.x-1.3-beta1](https://www.drupal.org/project/rng/releases/8.x-1.3-beta1)

[2016-11-17 17:26] dpi commented on #89
RNG 1.3 is now in beta, see the main article: [RNG 1.3: The Registrant Update](https://dpi.id.au/rng-1-3/)

Because this is a beta, it cannot be promoted on the [Drupal.org project page for RNG](https://drupal.org/project/rng). You can test this update using the following methods:
-  **Composer**: `composer require drupal/rng ^1.3@beta`
-  **Drupal Console**: `drupal moi rng` – select version when

[2016-11-17 18:05] dpi commented on #102
Post create editing: #120

[2016-11-17 18:05] #102 closed, assigned to nobody

[2016-11-17 18:08] dpi commented on #83
RNG 1.3 introduces inline registrant creation, and an alternative contact entity in RNG Contact: #89

[2016-11-18 14:19] dpi opened #124 "Remove reply-to field auto creation for new event types"
No longer include email reply-to field when creating **new** event types.

This does not remove existing functionality, or remove existing reply-to email fields.

RNG 1.3 includes a UI to add missing fields, so new sites can add this functionality if they want.

[2016-12-15 05:25] dpi commented on #91
Alternative: "Event settings"

[2016-12-22 17:27] dpi opened #125 "Investigate using Views Templates project"
Investigate using [Views Templates](https://www.drupal.org/project/views_templates) as a replacement for view creating functionality in RNG.

[2016-12-22 17:29] dpi commented on #11
#125

[2016-12-29 09:41] qcutter opened #126 "Drupal Commerce Intergration"
Can this be integrated with drupal commerce or some other means of selling per person or per registration tickets?

[2016-12-29 09:44] dpi commented on #126
See #84

[2016-12-29 09:44] #126 closed, assigned to nobody

[2016-12-29 14:25] #121 closed, assigned to nobody

[2016-12-29 16:15] dpi opened #127 "Support Drupal 8.3"
Untested

[2016-12-29 16:37] dpi commented on #127
Due approx [April 5, 2017](https://www.drupal.org/core/roadmap#drupal-8.3.0)

[2016-12-30 17:05] dpi commented on #112
#125

[2016-12-30 23:18] #29 closed, assigned to dpi

[2016-12-31 09:19] dpi opened #128 "Change registration groups to tags"

[2016-12-31 09:59] dpi commented on #119
Screenshot:

![donebtn](https://cloud.githubusercontent.com/assets/21850/21576962/8793a23a-cf82-11e6-8d6b-23df1af8974f.jpg)

[2016-12-31 09:59] #119 closed, assigned to dpi

[2017-01-06 09:15] dpi commented on #110
beta2,3,4 released.
final 1.3 released today.

[2017-01-06 09:15] #110 closed, assigned to nobody

[2017-01-06 09:16] dpi commented on #89
RNG 1.3.0 released today.

[2017-01-06 09:16] #89 closed, assigned to nobody

[2017-01-06 09:17] dpi commented on #14
Released with 1.3 series

[2017-01-06 09:17] #14 closed, assigned to dpi

[2017-01-06 10:52] sylvainar opened #129 "Export registrations as CSV ?"
Hey !

Is it possible to export the list of people who have registered on a event as a CSV file?

Thanks !

PS: Congrats for the 1.3 :wink:

[2017-01-06 11:00] dpi commented on #129
RNG has full views integration from event entity to registration to individual registrant entities. The views submodule can get you started there.

As for CSV you would attach a CSV display mode from the [views_data_export](https://www.drupal.org/project/views_data_export) project to one of the views generated by the submodule.

Hope this helps.

[2017-01-06 11:02] sylvainar commented on #129
Awesome, thanks !

[2017-01-06 11:02] #129 closed, assigned to nobody

[2017-01-09 14:36] mathysp opened #130 "Limit number of total registrants per event"
When creating events you sometimes deal with a limited amount of seats.

Using RNG we can control the amount of registrations, and the number of registrants per registration. But we can not limit an event on number of registrants.

Proposed solution would be a simple input field: maximum number of registrants.

[2017-01-15 03:49] dpi commented on #130
Under consideration for 1.4

[2017-01-15 10:06] dpi opened #131 "Add ability to disable register tab on events"
Add entity type configuration: disable register tab

[2017-01-15 10:08] dpi opened #132 "Add ability to disable registration form routes"
Add entity type configuration: disable registration form routes: _entity/register_ and _entity/register/REGISTRATION_TYPE_

Disabling this option will also force #131 to disable tab.

[2017-01-17 13:40] dpi opened #133 "Release M1-5"
RNG feature release 5 will have a focus on the following:

https://github.com/dpi/rng/milestone/7

- Improving Registrant element
- Rework rng_views, or split into separate project building on Views Template
- ...

[2017-01-19 11:40] dpi commented on #127
[Alphas begin 30 Jan 2017](https://groups.drupal.org/node/515932)

[2017-01-20 12:16] dpi opened #134 "Update composer version constraints"
Update composer.json to use versions in the official Drupal packagist.

See https://www.drupal.org/docs/develop/using-composer/using-packagesdrupalorg#convert-versions-from-unoffical

[2017-01-22 11:49] #134 closed, assigned to nobody

[2017-02-04 17:17] dpi commented on #133
Changing to 1.5, 1.4 will be a quick fix release

[2017-02-04 17:21] dpi opened #135 "Release rng-8.x-1.4"
Composer dependency updates and default event type settings quick fix.

[2017-02-04 17:41] dpi opened #136 "Enable referencing user entities on new event types"
Form defaults for creating new event types should enable 'Permit referencing existing entities': User checkbox

[2017-02-05 14:13] #136 closed, assigned to nobody

[2017-02-05 14:15] dpi commented on #135
#134

#136

[2017-02-05 14:18] dpi commented on #135
https://www.drupal.org/project/rng/releases/8.x-1.4

[2017-02-05 14:18] #135 closed, assigned to nobody

[2017-02-09 11:30] ghost opened #138 "No message Form"
Hello

I can't see the form in the messages section of my event to send messages. There is only a drop-down with enables, disable or delete all messages.

User can register and everything works properly except that and I configured a response to email address.

I there something that i missed?

[2017-02-09 12:10] dpi commented on #138
Make sure you have a _local actions block_ for your theme.

[2017-02-10 09:11] #138 closed, assigned to nobody

[2017-02-24 12:02] buntybatra opened #139 "Registration create/update triggers are not executing"
Hi,

I am using the RNG module for registration. All the things working fine except the email on "Registration creation". Message "Send on a date" is working fine. Following is the configuration:-

Registration creation (active)
Courier module version alpha-9

Please tell me if i am missing some configuration.

Thanks

[2017-02-25 04:50] dpi commented on #139
Thanks @buntybatra , I have verified the issue. A fix will be coming in the next few days.

[2017-02-25 08:20] buntybatra commented on #139
Thanks @dpi for quick response. I am waiting for fix

[2017-02-25 09:25] #139 closed, assigned to dpi

[2017-02-26 19:09] jonathanjfshaw commented on #95
See #77

[2017-02-27 03:31] dpi commented on #139
Fix is in rng 8.x-1.5-alpha1

[2017-03-03 01:20] dpi opened #140 "Release rng-8.x-1.5"
https://www.drupal.org/project/rng/releases/8.x-1.5

[2017-03-03 01:20] #140 closed, assigned to nobody

[2017-03-03 01:21] dpi opened #141 "Release rng-8.x-1.6"
https://github.com/dpi/rng/milestone/11

[2017-03-03 06:16] dpi commented on #139
Stable release 1.5 is out.

[2017-03-10 10:33] dpi commented on #130
Related: http://drupal.stackexchange.com/questions/230456/drupal-rng-trouble-with-maximum-registrants/230953

[2017-03-16 12:50] dpi commented on #11
In the meantime you can construct your own views using documentation: [
Building views
](https://www.drupal.org/docs/8/modules/rng/building-views

[2017-04-20 21:24] kenneth-bolivar-castro opened #142 "Content Moderation and RNG throw an exception"
I enabled the experimental module named "[Content Moderation](https://www.drupal.org/docs/8/core/modules/content-moderation)" on Drupal 8.3 instance, then when I am trying to access to "Event" tab into any content type (basically access to [rng.event.$entity_type.event.default](https://github.com/dpi/rng/blob/8.x-1.x/src/Plugin/Derivative/LocalTasks.php#L83) router, it throws me the following exce

[2017-04-21 00:25] kenneth-bolivar-castro commented on #142
Since I wasn't unsure where this case should be address, I added an issue into drupal core queue,
https://www.drupal.org/node/2871627

[2017-04-21 08:46] dpi commented on #142
Thanks for the report, it looks to be a bug with content_moderation module. I have replied with rationale in https://www.drupal.org/node/2871627

[2017-04-21 08:46] #142 closed, assigned to nobody

[2017-05-05 23:03] marqpdx commented on #84
hi dpi

Where would one add code inside the rng code ecosystem for this sort of connector?

[2017-05-06 17:29] chrisrikli commented on #84
@marqpdx I ended up doing a pretty extensive integration between Commerce and RNG.  I started it with the intent of being able to share it with the community however the integration was far too specific to really be generally applicable.

Note that *none* of the things I did required adding code to the RNG ecosystem.  It can all be done by leveraging the Entity API and the EventSubscriber API w/in

[2017-06-08 21:43] heddn commented on #84
I'm working on a similar thing now. I think that creation of the registration at purchase of a product variation would be a nice action or rule to be able to fire. And sync in information from the user's profile. But a lot of the details of syncing fields are going to be custom per site. But the sync action seems re-usable.

[2017-06-19 22:53] steveoliver commented on #84
Hi, @chrisrikli - it sounds like you've done exactly what I want to accomplish.  Would you be interested in sharing any of your custom code?  Thanks! -Steve

[2017-06-21 03:50] steveoliver commented on #84
I've got registrations happening on event checkout completion now.  I've got to say, so far the implementation has been very pleasant--after initial configuration, it works great alongside my product entities and Commerce checkout workflow.  I've got more to do (like open one small but blocking issue I found), but a huge kudos to @dpi and others for this awesome module!

[2017-06-21 09:05] jonathanjfshaw commented on #84
Hi Steve,

Congrats! it would be great if you could share your work as an example to
others.

On 21 June 2017 at 04:50, Steve Oliver <notifications@github.com> wrote:

[2017-06-22 23:10] steveoliver opened #143 "Event type machine names exceed the 32 character limit imposed by entity reference"
Currently, when creating an event type based on a Commerce Product type I have, I end up with a Event type machine name of 42 characters.

This is because RNG creates a two-part ID for event types in [the format "{entity_type}.{bundle}"](https://github.com/dpi/rng/blob/8.x-1.x/src/Entity/EventType.php#L308).

But the ['entity_reference' field schema](http://cgit.drupalcode.org/drupal/tree/core/lib

[2017-06-26 17:36] steveoliver commented on #143
See failing test in PR #144

`
    Drupal\Tests\rng\Kernel\RngRegistrationEntityTest::testLongEventTypeRegistration

    Drupal\Core\Entity\EntityStorageException: SQLSTATE[22001]: String data,

    right truncated: 1406 Data too long for column 'type' at row 1: INSERT INTO

    {registration} (vid, type, uuid, langcode) VALUES

    (:db_insert_placeholder_0, :db_insert_placeholder_1,

    :db_ins

[2017-06-26 17:45] steveoliver commented on #143
I'm not sure what to propose here since RNG depends on Core's entity_reference and Dynamic Entity Reference contrib module, both of which impose the 32-character db column length limit.

Flag module, having no external dependencies like this, was able to handle the same exact issue -- [lengths of db columns for entity and bundle names are too short](https://www.drupal.org/node/1709498).

In fact,

[2017-06-26 18:11] steveoliver commented on #143
My solution is going to be to make sure the combination of my 'entity_type.entity_bundle' does not exceed 32 characters. :/

[2017-07-03 21:02] heddn commented on #127
It seems to be fine on 8.3. Probably can close this out.

[2017-07-03 21:03] heddn commented on #81
I think I'd prefer seeing an event subscriber and injecting the services needed, but this is a good pointer on what services are needed. Thxs for your work @andreasradloff

[2017-07-06 08:45] norwegianblue-nz commented on #84
Plus 1 for this @jonathanjfshaw

[2017-07-06 12:58] heddn commented on #84
[code]

[2017-07-06 13:26] dpi commented on #84
Hi @heddn, code looks useful. Can you move this code to a [Gist](https://gist.github.com/) or a new Github repo.

_Deleted comment, see gist in next comment_

[2017-07-06 17:52] heddn commented on #84
https://gist.github.com/heddn/119a439ead6189ddd6c835aa65c7348e

[2017-07-11 22:26] bitchkat opened #145 "Anonymous registrations"
I'm just getting starting with registrations on D8 and since the old entity_registration module is completely broken on D8, I'm giving rng a try.

For this site, the customer is pretty set on allowing users to register for events without creating accounts on the website.   I've installed and configured rng and rng_contact according to their respective quick start guides.

I can't get anonymous use

[2017-07-12 03:23] dpi commented on #145
Please see https://dpi.id.au/rng-contact-setup/ for the canonical guide on setting up anonymous registrants. The sections which you should be most aware of are **[Enable the contact type for your event types](https://dpi.id.au/rng-contact-setup/#enablethecontacttypeforyoureventtypes)** and **[Permissions](https://dpi.id.au/rng-contact-setup/#permissions)**.

The checkbox is disabled because anonym

[2017-07-12 03:23] #145 closed, assigned to nobody

[2017-07-13 23:34] bitchkat opened #146 "Simplified Registration"
I have a use case where the only type of registrations allowed will be anonymous users.  However I think the UI is going to be way to confusing for the users.  I also just have a single rng_contact type.

Can I simplify the UI to the point that we effectively just have the rng_contact form and a single submit button that creates the rng contact and registers it to the event?

[2017-07-14 01:15] dpi commented on #146
You are more than welcome to create your own UI/forms. I encourage it. Keeping in mind that it is unlikely to be brought into the main module per https://github.com/dpi/rng/wiki/Solid-Core

Inspiration can be found from [RNG Quick](https://drupal.org/project/rng_quick), as it implements two of its own registration forms.

Ensure you are maintaining the RNG model by using the `EventMeta` systems.

[2017-07-14 03:31] dpi commented on #146
If you are looking for reviews/architecture/sanity-checks; I'm happy to help.

[2017-07-14 20:59] bitchkat commented on #146
Thanks.  I have no problem with it not being in your rng.  I'm quite fine doing it in a custom module and I'll use RNG Quick for inspiration.

[2017-07-17 05:42] norwegianblue-nz commented on #88
Groups is now very mature, stable and usable.
Being able to specify a group as the registrant would be an excellent addition (think of a Soccer team enterign a tournament for instance)
I have a need for this ability now. Is there any plan to progress this?

[2017-07-17 06:36] dpi commented on #88
I agree now is the time to start development.

At this time I don't have have any plans to progress personally.

[2017-07-17 06:57] dpi commented on #88
Im happy to hear ideas/proposals/collaborations.

[2017-07-17 20:00] micbar commented on #77
@dpi how would you approach this feature? If anyone would start a separate module, how would you recommend to develop the basic architecture?

[2017-07-17 20:44] norwegianblue-nz commented on #88
I would be happy to get involved but my Drupal coding experience/knowledge is very close to zero.
Would this be a plugin ?
Contact appears to allow an entity other than 'user' to be a registrant. Would this be sensible code to inpect to get some ideas on where to start?

[2017-07-25 10:44] citananda commented on #84
Hi @dpi,
Do you plan to create a release that connect rng to commerce ?
If so, do you have an idea about delay ?
Many thanks for your work
Christophe Bourgois

[2017-07-26 21:17] steveoliver opened #147 "Provide more granular registrations permissions"
Something like `<operation> own/any <event_type> <registration_type> registrations` would be more helpful than just the 'Administer all registration entities' permission.

[2017-07-27 10:17] dpi commented on #147
`<operation> own/any <event_type> registrations` exists already as event type access [defaults].

What problem are you hoping to solve with your variant?

[2017-07-27 10:18] dpi commented on #147
Also, this can be implemented using standard Drupal entity access hooks, and doest not require a feature built in to RNG.

[2017-08-04 06:15] #146 closed, assigned to nobody

[2017-08-10 21:26] druplash opened #148 "Drupal 8, Error after saving event."
After adding registration and registrant types i have add the first event. After editing everything in tab „Event“ i click save and get the following error. Please can somebody take a look? I do not understand what is going wrong. It seems to be a bug...

[2017-08-11 02:24] dpi commented on #148
Hi @druplash

There is not supposed to be a `registrant.registration_int` field.

Perhaps there is a third party altering the schema or query in some way?

[2017-08-11 06:37] druplash commented on #148
Hi @dpi
Thanks for reply! I don´t know... I have installed all extra modules (Conflict, Contact, Date Scheduler, Quick) and all Dependencies, nothing else. I will uninstall everything and try it again step by step.

[2017-08-11 06:53] druplash commented on #148
@dpi
I have done a clean install with:

Drupal, 8.3.5
RNG, 8.x-1.5
Dynamic Entity Reference, 8.x-2.0-alpha5
Courier, 8.x-1.0-alpha9
Unlimited Number, 8.x-1.0-beta2

But still getting the same error.
`Unknown column 'registrant.registration_int'`

Do you have any ideas please?
Thanks

[2017-08-11 06:56] dpi commented on #148
Why are you using "Dynamic Entity Reference, 8.x-2.0-alpha5" ?

Dont use it when there is a stable version of DER.

[2017-08-11 07:06] druplash commented on #148
Sorry @dpi you´re right! I don´t know why... I haven´t realized that i´m using an alpha version. Now it works without any issues. Thanks a lot for helping!

[2017-08-11 15:33] jibran commented on #148
There was a bug in 8.x-2.0-alpha4 and it got fixed in 8.x-2.0-alpha5. Just out of curiosity, @druplash if you now update DER to 8.x-2.0-alpha5 after the error is gone, do you see the same problem?

[2017-08-11 16:06] druplash commented on #148
@jibran, alpha5 was installed. And there was the error.

[2017-08-11 16:34] jibran commented on #148
I meant now that your error is gone can you try 8.x-2.0-alpha5 again? Error was in 8.x-2.0-alpha4, if you update it directly to 8.x-2.0-alpha5 it shouldn't happen.

[2017-08-11 16:53] druplash commented on #148
@jibran, ok i will try it. But i´ll be back in office on Monday.

[2017-08-12 11:31] dpi commented on #148
Do you mean you switched to DER 8.x-1.x?

[2017-08-16 22:02] ehardeveld commented on #146
We also need an simplified interface for anonymous registrations. @bitchkat, can you publish your work? We are willing to collaborate where possible if you like that. Otherwise we will create and publish our own implementation.

[2017-08-22 15:03] MegaChriz commented on #84
@chrisrikli, @steveoliver
I would also be interested to see an example implementation of RNG with Drupal Commerce.

[2017-08-22 15:03] citananda commented on #84
Bonjour,
Je suis en congé jusqu'au 1er septembre.
Je vous répondrai à mon retour.
Bien cordialement
Christophe Bourgois

[2017-08-30 04:49] norwegianblue-nz commented on #147
So how would I go about setting up that an authenticated user belonging to a particular role can view their own registration but not other registrations?

[2017-08-31 04:10] norwegianblue-nz opened #149 "Add custom message trigger"
This is a support request.
How would I add a message trigger ?
I have a custom module that alters the value of a field in the registration. I would like to trigger a message when that field is updated.
Thanks

[2017-09-02 11:16] bitchkat commented on #146
@ehardeveld sorry for the delay in responding as I was out of the country with poor internet.  I put this off for a bit to get other aspects of the website finished.  I've been working on it this past week and have made some progress. The approach I've taken is to basically fork rng_quick.  What I've done is replace the RngQuickFormBlock.php with my own custom form, validation handler, and submit

[2017-09-07 00:02] steveoliver commented on #84
@MegaChriz Very much like @heddn's gist above. If you have any specific questions, feel free to ask in the Drupal Slack channel or on https://drupal.stackexchange.com/questions/tagged/rng and tag it with commerce.

[2017-09-07 00:07] steveoliver commented on #84
Also, after doing integration on my project--which is quite light (config, access checks and register/deregister)--, I don't think there is going to be any generally useful module, since the integrations will probably vary wildly based on things like product, order, checkout flow and customer types plus other project-specific business logic.

[2017-09-10 20:13] bitchkat commented on #131
Now that I have my custom registration form working (thanks for the tip), how do I disable the Registration tab?  The UI and workflow is pretty bad so I don't want users to stumble onto that by accident.

I'm willing to do things in a custom module.  Please note, I would accept replacing the standard form with my custom registration form as well.

[2017-09-19 15:04] aaronbauman opened #150 "what does RNG stand for?"
what does the acronym / initials mean?

[2017-09-20 21:10] ehardeveld commented on #146
@bitchkat, Thanks for your extensive response! I am still interested but my project is delayed a bit. I think your approach would also work for my website, so I can clone rng_quick and adopt it to my needs. If you could share your code I can also base it on your code.

[2017-09-29 09:56] MegaChriz commented on #150
I think it stands for Registration Next Generation. At some point during the Drupal 8 development there was also an EntityNG concept:
http://www.drupalcontrib.org/api/drupal/drupal!core!lib!Drupal!Core!Entity!EntityNG.php/class/EntityNG/8

[2017-09-29 10:17] MegaChriz opened #151 "[Registrant Element] Break down Registrants::processIdentityElement() into multiple methods"
The code for generating the registrants element - `Registrants::processIdentityElement()` - is almost 500 lines of code. As I would like an alternative UI for my personal use case, it is very hard to find the portions of code that I need to keep and which I need to override. For example: if I like to only pick the code that generates a form element for a new person, I need to go through the whole

[2017-09-29 10:42] MegaChriz opened #152 "EventType::getIdentityTypeEntityFormMode() should return a form mode string"
On the event type form, when you select an alternative form mode for a person, it looks like the change is not saved, because when the form is reloaded the default form mode seems to be selected.

I have found that the bug is in `EventType::getIdentityTypeEntityFormMode()`. This returns a boolean, while it should return a string representing the selected form mode, according to `EntityTypeInterfac

[2017-09-29 10:50] MegaChriz commented on #152
I'm not so familiar with pull requests yet. On drupal.org I was used to create the issue first, then submit a patch. Apparently, it works a bit different on Github.

So should this be closed as a duplicate now of #153?

[2017-09-29 13:27] aaronbauman commented on #150
Oh yeah, i remember DBTNG.
Good call, i'm sure that's it.

[2017-09-29 13:27] #150 closed, assigned to nobody

[2017-10-02 05:30] dpi commented on #150
Originally an internal project for Registrations and Groups, but any notion of Groups was mostly removed. A secondary meaning of Registration Next Generation was also intended, since many Drupal 8 subsystems also had this _NG_ moniker during development.

Though at this point, RNG the acronym does not currently stand for anything.

[2017-10-03 23:12] norwegianblue-nz opened #154 "Include Registration states and transitions (like D7 Entity Registration)"
Feature Request
A big improvement would be if there were a system similar to the D7 Entity Registration 'States'
ie site builder determines the valid states of a registration (which might be entered, confirmed, paid, withdrawn etc etc) and there is the 'transistion' system to allow the registrant to move between these states if appropriate (say from paid to withdrawn)

[2017-10-04 00:59] dpi commented on #154
Sounds exactly like core Content Moderation.

[2017-10-04 01:03] dpi commented on #154
[Workflows Field](https://www.drupal.org/project/workflows_field) may be worth taking a look at also.

I dont think your request is specifically something destined to live in RNG proper.

[2017-10-04 02:11] norwegianblue-nz commented on #154
I'm also investigating [State Machine](https://www.drupal.org/project/state_machine) as utilised by Commerce

[2017-10-04 03:15] Sam152 commented on #154
Workflows field and state machine do pretty much the same thing. Workflows field leverages the new core "workflows" module, whereas state machine has its own config representation of the workflow.

Workflows field might still be somewhat in flux, as there is no tagged release.

[2017-10-04 21:09] norwegianblue-nz commented on #154
Workflows Field looks promising, but I need to have a means of making Rng event places available again if a registrant moves their status to withdrawn. Would you see this as something handled by Rules ?

[2017-10-04 22:11] norwegianblue-nz commented on #147
OK - I've figured this out. I was being dumb. What I need is achieved with the event access rules

[2017-10-04 23:05] norwegianblue-nz commented on #149
For anyone who might read this issue and need to do similar, I resorted to the brute-force approach of editing a custom copy of RNG.
I added a new trigger_id to RngRequestSubscriber
`          case 'update':`
`              if ($registration->get('field_allocated_in_draw')[0]->value > '0'){`
`              $trigger_id = 'entity:registration:drawn';`
`            }`
`            else {`
`

[2017-10-05 01:45] dpi commented on #149
Sorry this fell off during my holiday.

Just send any string for `$trigger_id` to, plus appropriate context:

`$event_meta->trigger($trigger_id, ['registrations' => [$registration]]);`

You can alter `rng_event_message_create` form adding your trigger id and a friendly label.

[2017-10-05 01:54] dpi commented on #154
I cant really speak for "event places". No-one has developed a generalised waitlist/slot project.

There are max registrations/registrants, etc. But that is not the same. If you want to hijack the max-registrations/maxregistrants system, you could hack the event a registration is associated with to be a different "cancelled meta-event".

On registration entity save, if new_status == 'withdrawn' th

[2017-10-12 06:27] ymhuang0808 commented on #51
@dpi Does it allow site admin to add a access rule?

[2017-10-15 23:55] norwegianblue-nz commented on #154
I've sorted this with a custom module.

[2017-10-15 23:55] #154 closed, assigned to nobody

[2017-11-02 12:37] jonathanjfshaw commented on #154
I'd be interested in seeing your custom module, workflows integration is something that interests me.

[2017-11-02 12:43] jonathanjfshaw commented on #74
Has rules matured enough now? API is pretty stable, although UI needs more love.

[2017-11-04 23:23] norwegianblue-nz commented on #154
To be clear - my requirements were very specific. It deals with hunters applying by ballot to gain entry to hunting areas (known as blocks) during the rutting season of deer here in NZ.
I could possibly have written things more generically but my D8 dev skills are still a bit limited and I was under some time pressure.
The custom module aspects were quite simple (they have top be as I'm not experi

[2017-11-10 20:23] mgifford opened #155 "Case consistency"
Very minor but /node/add

It should be "Event" rather than "event"

Mike

[2017-11-13 09:10] bjaxelsen opened #156 "Error field definitions?"
After latest update I get the error

The following changes were detected in the entity type and field definitions.
Registrant

But when I try to update the field definitions using "drush entity-update" the error does not go away.

Looks like some kind of bug?

[2017-11-13 23:33] steveoliver commented on #120
I'm interested in implementing this.  Any thoughts before I jump in?

[2017-11-15 00:53] #149 closed, assigned to nobody

[2017-11-15 20:08] steveoliver commented on #120
No worries (here). What I needed was https://github.com/dpi/rng_contact/issues/2

[2017-12-13 16:35] ghost commented on #84
Is there any documentation in how to set this up?

[2018-01-24 07:21] lslinnet commented on #84
@heddn Could you attach a few words to what assumptions the above code snippet makes of the configuration of the commerce shop? what is the data relations between the order, the product etc.? and how have these been linked to an event?

[2018-01-25 15:22] heddn commented on #84
I think I assume that the rng entity is called 'registration'. And users would be the ones registering.

[2018-01-29 21:11] markdonnay commented on #84
@heddn - I am new to Drupal 8 and am looking for a payment mechanism to pay for RNG registrations in Commerce.  Is your code supposed to be a standalone custom module?  I just need to be able to sell tickets to events, pretty straightforward.  I would be interested in understanding further how to implement your code, or possibly pay to have you put it into a module.

[2018-01-29 22:16] steveoliver commented on #84
I've done extensive work on RNG / Commerce integration.  Anyone interested, feel free to ping me on drupal.slack.com #commerce to discuss your specific use case(s).

[2018-01-29 22:51] heddn commented on #84
@1959mvp feel free to contact me in slack as well. I'd be pleased to help you in any respect.

[2018-02-08 11:42] JPustkuchen opened #158 "Add option to display registrant form open by default if only one exists (show_entity_create_form)"
Context: When displaying an event registration form (in our case using rng_quick and rng_contact) the default form display with the many options is much too complicated and it would be good and enough to display the registrant form with its field directly / initially.

I tried to solve this using a custom module and found out that "show_entity_create_form" controls that. See:
[code]
(http://cgit.d

[2018-02-08 11:56] JPustkuchen commented on #158
Drupal style patch attached to use with composer-patches for example.

[rng-158-open_registrant_form_by_default_if_one_registrant_type.patch.txt](https://github.com/dpi/rng/files/1706894/rng-158-open_registrant_form_by_default_if_one_registrant_type.patch.txt)

[2018-02-11 09:18] JPustkuchen opened #160 "Redirect to event instead of registration detail page"
After successfully submitting the registration form the user is being redirected to the detail form of the registration (bad UX: without a link back to the source event), or to the website front page if he has no permission for registration access.

It's controlled by:
[code]
in Drupal\rng\Form\RegistrationForm

This doesn't seem the best option for most cases. I'd suggest to add a setting to sele

[2018-02-11 09:30] JPustkuchen commented on #160
I created a pull request for a first simple but helpful change to redirect to the event instead of the frontpage. That doesn't require huge changes and is a first good improvement. See #161

[2018-02-11 09:33] JPustkuchen commented on #127
This can be closed. It even works in 8.4.

[2018-02-11 09:34] JPustkuchen commented on #116
+1 for this. It may be good in combination with #158

[2018-02-11 12:36] JPustkuchen opened #162 "Move groups functionality into submodule"
As follow-up to #88 we should think about moving the group functionality into a submodule. The functionality isn't needed and overloaded in many cases. From my point of view it would make perfect sense to move this into a submodule to make it optional and separate concerns.

[2018-02-11 14:18] JPustkuchen opened #163 "Submit nested registrant form and don't require separate submits"
Especially if there is only one registrant / contact type existing the current complex structure is bad for UX. The separate selection of a person, entering its data (rng_contact e.g.), submitting the identity, entering further registration data and then submitting is way too complicated in a simple circumstance with only one bundle of each type. It would be very helpful to have a closer look at t

[2018-02-11 14:20] JPustkuchen commented on #163
Sadly I wasn't able to found out who to handle the inner identity form in Registrants.php so that it's values are used when clicking the main "Save" button. It would be nice to get some support here. I think that may even be an optimization for all other cases where the above form is filled (for the last participant) and save one (optional) click in that case if the main form can handle all values

[2018-02-11 14:38] rtrvrtg opened #164 "RegistrationType: canonical URL fails even though type exists"
Here's a test I did in `drush php` (with identifying info changed):

[code]

This has been stuffing me around because I've been needing to serialise my registrations, and no matter what I do, it throws this mysterious `RouteNotFoundException`.
Here's more info on how I tried to fix it in Serialization module: https://www.drupal.org/project/drupal/issues/2941332

[2018-03-03 16:35] JPustkuchen opened #166 "Add per event-type message templates / defaults"
The messaging system via courier is very cool! But I think it would make a lot of sense to make it possible to define message templates and default messages for events:

Like for example on a path like this:
admin/structure/rng/event_types/manage/node.veranstaltung/messages

A form should be available which predefines the message defaults for all events of this type like on https://www.ife-owl.de.

[2018-03-14 10:12] haringsrob commented on #84
@steveoliver What is your slack name? We are going to work on a possibly similar case.

[2018-03-18 20:00] cronchinsky commented on #156
I am also getting this.. can't make it go away and have tried entity update, deleting all registrant types (right now old data isn't too important), but it is still there.  This is now an 8.5 site. I started using RNG much earlier (8.2?).

[2018-04-27 18:34] 4hmedSamir opened #167 "Recurring events"
Are there any plans for supporting recurring events?

[2018-05-13 14:27] dpi commented on #164
Just a heads up, `\Drupal\Core\Config\Entity\ConfigEntityBase::url` has a default `$rel` param value of 'edit-form'. So its probably best to leave the param value empty if you want the most-default url.

The fact that canonical is an undefined route will be fixed however.

[2018-05-13 14:41] #164 closed, assigned to nobody

[2018-05-13 14:47] dpi commented on #155
Done, thanks!

[2018-05-13 14:47] #155 closed, assigned to nobody

[2018-05-13 14:48] #148 closed, assigned to nobody

[2018-05-13 14:50] #127 closed, assigned to dpi

[2018-06-07 00:23] if-owen opened #168 "RNG routes fail if the entity routing parameter is named 'event' due to default route parameters."
I have created a custom entity type called `Event` which I wish to designate as an RNG event type. I have set up the configuration as required and I can see `Event` and `Register` tabs when viewing an entity of type `Event`. Great.

However, when I attempt to visit the `Event` or `Register` tabs I get presented with a 404. I have done extensive debugging on why this may be. I have checked out all

[2018-06-26 07:11] quimic opened #170 "Unable to edit registration if event does not allow registrant to create more than one registration"
If an event does not allow a registrant to register more than once, no one can edit an existing registration for that event (neither the registrant, nor an administrator).
You get the "Userxxx cannot register for this event." error message.

[2018-06-28 16:58] if-owen opened #171 "Event capacity should take into account registrants, not registrations"
Given that a single registration can contain multiple registrants, depending on the settings for that event, it seems that the event capacity should be tied to the number of registrants rather than the number of registrations.

As an example, if I create an event with a capacity of 10, I would expect that to mean that 10 people could attend the event. However, I am able to register more than 10 pe

[2018-08-10 13:56] heddn commented on #77
If an event is full, then it would be nice to put my name on a wait list to take any vacancies if someone else has to cancel.

[2018-08-10 13:57] heddn commented on #95
Yes, this scenario is exactly what I'd like to see as well.

[2018-08-15 18:06] jpshayes commented on #166
Is there still no way to setup default messages?

[2018-09-14 18:51] akalata commented on #171
100% this, but I think we should keep the registrant limit per registration.

**Use case: Tournament Sign-Up**
An individual is responsible for signing their team up for the tournament. Team members are individual registrants, linked under a single registration.
Registration limit: 16 teams
Registrant limit per registration: 8 people per team max (could also use min to enforce team size)

**Use ca

[2018-09-17 14:49] akalata commented on #171
This is actually a duplicate of #130

[2018-09-17 16:28] akalata opened #175 "The event_type entity name is very generic and conflicts with other modules related to events"

[2018-09-17 17:05] akalata opened #177 "Inppropriate use of #type => radios on event_type form causes warnings in PHP 7.2"
[code]

This is caused by `$form['entity_type']['#options']` being `NULL` in `EntityTypeForm::buildForm()`, when `$form['entity_type']['#type'] => 'radios'` requires a countable result.

I'm not sure what the correct solution would be here, either
- Change the form element's `#type` to `container`
- Define child elements `node`, `existing`, etc as `#options`.

[2018-11-03 11:04] epetvir opened #179 "Unwanted RNG conditions in block configuration"
Drupal 8.5, RNG 8.x-1.5
RNGs conditions end up in the configuration of any block created (modified?) when RNG is installed. Example:
[code]
This will also mark RNG as a dependency for the blocks. On my test site, 20 blocks got removed when I uninstalled the RNG module. To get RNG uninstall cleanly, I had to:

1. Export configuration, remove RNG dependency from block config, import configuration
2.

[2018-11-22 05:11] riturajgupta commented on #84
Hi, I want to integrate RNG with susbscription(free or paid). How can I achieve?

[2018-11-22 17:29] joelpittet opened #181 "Notice: Undefined index: target_id in rng/src/EventMeta.php on line 151"
Notice appears on existing content of an existing content type "Event" that has been adorned with an Event Type

[2018-11-23 09:12] MegaChriz commented on #84
@riturajgupta I have worked on a module for integrating RNG with Commerce:
https://www.drupal.org/sandbox/megachriz/2940732

Part of the module is based on code shared by @chrisrikli.

I did not manage yet to make the module generic enough. Therefore it does make a few assumptions on your setup. There are also a few pieces missing, like making sure that the checkout panes get updated when adding,

[2018-11-27 20:34] rfsbsb commented on #170
I can confirm this is an issue.

[2019-01-15 19:55] a-fro opened #184 "Update the dynamic entity reference version?"
The salesforce module requires dynamic_entity_reference:^2.0, while rng requires ^1.0. Composer is therefore unable to satisfy both requirements. Is there a reason to pin it to the 1.x version?

[2019-01-25 16:57] e-Mole opened #185 "Error using RNG with Conditional Fields"
I need to hide certain fields according to the user's choice (on the Event registration form). So I use the [Conditional Fields](https://www.drupal.org/project/conditional_fields) module (last DEV version). Content forms - Page, Article, ... works as they do. However, if the condition (in Conditional Fields settings) for the registration form is added, the condition settings dialog will not be dis

[2019-02-06 19:16] rudydehaas opened #186 "WSOD in opensocial with RNG - related to translation modules"
hi:
I loaded a new opensocial site (debian, apache2, PHP 7.2, mardiadb) using composer, then added all RNG modules and enabled almost everything including language translation. Following instructions in RNG quick start seemed ok until save on "crate an event" step - then White screen of death. Log message is ...
---

http://localhost/node/add/event_1
--
http://localhost/node/add/event_1
Drupal\Cor

[2019-02-13 09:21] e-Mole commented on #170
I also encountered this problem. Do you have a solution?

[2019-02-13 14:10] quimic commented on #170
Unfortunately, no, I don't…

[2019-02-13 14:15] rfsbsb commented on #170
Maybe this can help: https://github.com/dpi/rng/pull/183

[2019-02-14 00:23] e-Mole commented on #170
Thanks! But #183 has not resolved the issue with editing :-(.

[2019-03-08 18:17] rdworianyn commented on #170
We solved this issue by enabling "allow duplicate registrants" on all events, and then created a custom validation function that checks to see if they are already booked and returns a form error in that case. It's kind of a work around, since it eliminates the usefulness of "allow duplicates", but we never allow more than 1 registration by a single user anyway. Instead, we created a field called,

[2019-03-09 09:55] e-Mole commented on #170
@rdworianyn Thanks for hint. How did you solve the "validation function"?

[2019-03-14 22:17] nplowman commented on #170
Here's a fix I'm submitting for consideration:
https://github.com/dpi/rng/pull/188

The validation function includes a check against a whitelist of existing users, that is supposed to prevent this issue. However, the whitelist was never getting populated for the edit form.

[2019-03-15 20:04] e-Mole commented on #170
@nplowman Thanks a lot! Works perfectly :-)

[2019-03-19 21:43] deggertsen opened #189 "Uninstall problems"
I got a couple errors when uninstalling RNG 1.5 and now I am unable to reinstall the module.

This is the first error that came up:

And then I got this error and keep getting this error when I try to reinstall:

Unfortunately the module is now unusable.

[2019-03-22 11:47] #177 closed, assigned to nobody

[2019-03-23 06:09] mkhalid03 opened #190 "Getting error when trying to create event type."
I tried the `simplytest.me` demo. When I tried to create event type getting error

`An illegal choice has been detected. Please contact the site administrator.
`

[2019-03-23 12:23] mikeohara commented on #190
Getting the same thing.

[2019-03-23 12:27] mikeohara commented on #190
Downgrading to 1.5 allows me to create the event type(s) but throws a different error (doesn't affect functionality though)

[code]

[2019-03-23 12:41] mikeohara commented on #190
Not sure if related, am getting illegal choice detected in other areas as well. The event form on the node also fails when radios are used.

Screenshot of form:

<img width="345" alt="Screen Shot 2019-03-23 at 9 38 37 AM" src="https://user-images.githubusercontent.com/10249051/54866178-858ee380-4d4f-11e9-9489-ecaa16f1962e.png">

Screenshot from the event log:
<img width="364" alt="Screen Shot 2019

[2019-03-23 17:36] dpi commented on #190
Hi all, please update RNG to 1.7 and Unlimited Number dependency to 1.0-beta4

[2019-03-23 17:37] #190 closed, assigned to nobody

[2019-03-26 09:37] uttkarsh-26 opened #191 "Error on Access Rules Event page."
@dpi
`Fatal error: Declaration of Drupal\rng\Plugin\Menu\LocalAction\ResetAccessRules::getTitle() must be compatible with Drupal\Core\Menu\LocalActionDefault::getTitle(?Symfony\Component\HttpFoundation\Request $request = NULL) in /var/www/html/web/modules/contrib/rng/src/Plugin/Menu/LocalAction/ResetAccessRules.php on line 15`
Here is a patch for it.

[code]

[2019-03-26 09:47] uttkarsh-26 commented on #191
Don't have access to create PR otherwise would have done it.

[2019-03-28 08:15] uttkarsh-26 commented on #191
#192

[2019-03-28 08:27] uttkarsh-26 opened #193 "Issue(count() radios) on creating a new registration."
![Screenshot 2019-03-28 at 1 56 09 PM](https://user-images.githubusercontent.com/38376852/55141879-67672000-5161-11e9-814f-a4522deb8942.png)
#194

[2019-04-23 23:03] joelpittet commented on #179
I'm getting this as well! Bumping this issue and I'll look into a PR if I can hack something together.

[2019-04-24 17:26] joelpittet commented on #179
I've created a pull request in #195 that just removes all rng conditions from the block UI.

Another way that I've not dug into is maybe forcing a context that doesn't exist in the block UI, or another option to provide a checkbox to enable the condition?

[2019-07-04 11:55] martijnv opened #196 "Quick start guide unreachable"
The quick start guide is unreachable. http://dpi.id.au/rng-quick-start/ seems to be down?

[2019-07-23 20:11] gson76 commented on #35
We have two students' associations still on Drupal 6 mostly because they depend on Signup and Signup Status (Drupal 6).
I offer $100 to anyone able to develop a migration from Signup (Drupal 6) to RNG (Drupal 8).

[2019-08-21 22:21] onetoomany opened #197 "Order of fields on Registration Type"
As part of a registration, I want the user to add two additional pieces of information, so I added two fields to the Registration Type.

However, the People box ("Select people to associate with this registration") is always item 2 in the actual rendering of the registration form:
Field 1
People Box
Field 2

If I swap Field 1 with 2, I get
Field 2
People Box
Field 1

i.e. I cannot specify where th

[2019-08-23 01:15] norwegianblue-nz commented on #193
_+1 for this please. Seems to be only an issue with PHP>7.0_
OK - I've patched my version to fix. See [3247b55](https://github.com/dpi/rng/commit/3247b55207601c1253e0208430395cdd41034a87)

[2019-08-23 02:31] norwegianblue-nz commented on #177
This change does not seem to have made it's way into 8.x-1.7.
Also src/Element/Registrants.php needs same change at line 189

[2019-09-08 17:55] brandonratz commented on #191
Patch solve the issue for me.

[2019-10-03 20:35] onetoomany opened #199 "Authenticated user can register any other user"
To me, this is a security issue, as a standard user can use the registration form to identify who else is a user of the site.  There appears to be no way I can restrict an ordinary user to be able to register only themselves; instead, every user gets the option of
![image](https://user-images.githubusercontent.com/1380470/66161834-13b02480-e625-11e9-836d-050821c4c493.png)

When they select Change,

[2019-10-20 18:59] freelock commented on #143
Not sure how to handle this best yet -- I would like to move the issue queue back to Drupal.org, rather than having fragmented issue queues across different accounts...

[2019-11-02 19:23] suit4 opened #200 "Saving an event type leads to an error Invalid argument supplied for foreach()"
Saving an event type leads to an error:

---- edit ----
This happens, if there is no Person Type (People Type) available.
There is no person type available, if in admin/config/rng/settings the People Type User (user) is unchecked. It does not matter, if there is Contact (rng_contact) checked.
---- edit ----

The error message is as follows:

Warning: Invalid argument supplied for foreach() in Drup

[2019-11-12 20:03] JobotBobica commented on #199
The issue is in your security roles. I have a setup where you can sign up only yourself and can't see other users. If bet it is the permission to view other users.

[2019-11-15 21:00] onetoomany commented on #199
Hi JobotBobica,

I assume you mean Permissions>User>View User Information
Its not ticked for the generic user - only the admin can see others there.  The standard user pretty much has nothing ticked except RNG>Register Self

[2019-12-27 02:31] ChristopherMatthews commented on #84
There is a published contributed product for this now currently in development: https://www.drupal.org/project/commerce_rng

[2020-02-23 13:10] dpi opened #202 "!!! Project Management moved back to Drupal.org"
Project management and source control moved back to Drupal.org: https://www.drupal.org/project/rng

Please crosslink Drupal.org issues to original Github issue if relevant.